@use './variables' as v;

#left {
    position: relative;
    width: 35%;
    height: 100%;
    border-right: 2px solid black;
    background-color: v.$default_color;
}

#navHeader {
    @include flexElement;
    color: v.$main_color;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    h2 {
        position: absolute;
        left: 5vw;
    }
}

nav {
    height: 70%;
    overflow-y: auto;
}

#newList {
    @include flexElement;
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 35%;
    height: 20vh;
    border-top: 1px solid black;
    box-shadow: -10px -5px 10px rgba(0, 0, 0, 0.5);
}