@mixin flexElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin formInputSettings {
    width: 80%;
    height: 60px;
    border: none;
    color: black;
    background-color: white;
}