$main_color: #26547C;
$second_color: #EF476F;
$third_color: #FFD166;
$light_main_color: #7AC1FF;
$done_color: #9CFF8B;
$default_color: #D9D9D9;

$header_height: 10dvh;
$td_list_height: 50px;
$title_input_height: 100px;
$description_input_height: 80px;